* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./../../images/background_1.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper{
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(225, 225, 225, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

} 

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: rgb(29, 4, 97);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 20px 0 40px;
}

.input-box label {
  position: absolute;
  top: 55%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: rgb(29, 4, 97);
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -7px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: rgb(29, 4, 97);
  font-weight: 700;
}

.input-box .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color: black;
  line-height: 60px;
}

.error {
  text-align: left;
  color: red;
  margin: -25px 0 20px;
  height: 10px;
}

.savepass {
  font-size: .9em;
  color: rgb(29, 4, 97);
  font-weight: 500;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.savepass label input {
  accent-color: rgb(29, 4, 97);
  margin-right: 3px;
}

.savepass a {
  color: rgb(29, 4, 97);
  text-decoration: none;
}

.savepass a:hover {
  text-decoration: none;
}

.btn {
  width: 100%;
  height: 45px;
  background: rgb(29, 4, 97);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}
