.userList{
    flex: 4;
    margin-left: 20px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #287bff;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}

.userListAdd{
    display: flex;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #287bff;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 25px 0px;
}   